@model FurnitureProject.Models.ViewModels.VoucherViewModel
@{
    ViewData["Title"] = "Mã giảm giá";
}
@{
    ViewBag.Title = "Search Voucher";
    string keyword = ViewBag.Keyword as string;
    int totalPages = (int)Math.Ceiling((double)ViewBag.TotalVouchers / ViewBag.PageSize);
    int currentPage = ViewBag.CurrentPage;
}
@{
    int maxPagesToShow = 8;
    int startPage = Math.Max(1, currentPage - maxPagesToShow / 2);
    int endPage = Math.Min(totalPages, startPage + maxPagesToShow - 1);
    if (endPage - startPage + 1 < maxPagesToShow)
    {
        startPage = Math.Max(1, endPage - maxPagesToShow + 1);
    }
}

<div class="title-box">
    <div class="text-box">
        <span class="title ms-2">Danh sách mã giảm giá</span>
    </div>
    <div>
        <a asp-area="" asp-controller="AdminVoucher" asp-action="Create" class="link-custom btn-custom bg-conflowerblue">Thêm mã</a>
    </div>
</div>
<div class="table-responsive title-box">
    <div class="container">
        <form method="get" asp-controller="AdminVoucher" asp-action="Index" class="link-custom">
            <div class="row mb-3 d-flex flex-wrap gap-4">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" asp-for="Filter.SearchKeyWord" value="@keyword" class="form-control form-control-sm" placeholder="Nhập từ khóa...">
                        <button type="submit" class="btn btn-sm btn-custom bg-conflowerblue">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
                <!-- Filter by Status -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterByStatus" name="Filter.FilterByStatus" class="form-select" asp-items="@ViewBag.StatusList">
                        <option value="">Trạng thái</option>
                    </select>
                </div>
                <!-- Optional: Nút Reset -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <a href="/admin/voucher/" class="btn btn-secondary w-100">Xoá lọc</a>
                </div>
            </div>
        </form>
        <div class="row mb-3">
            <table class="table table-hover align-middle">
                <thead class="table-background">
                    <tr>
                        @* <th scope="col">ID</th> *@
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Mã code
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Code"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Code" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Code"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Code" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Phần trăm giảm
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="DiscountPercent"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "DiscountPercent" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="DiscountPercent"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "DiscountPercent" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Số tiền giảm
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="DiscountAmount"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "DiscountAmount" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="DiscountAmount"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "DiscountAmount" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Ngày tạo
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Ngày hết hạn
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="ExpiryDate"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "ExpiryDate" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="ExpiryDate"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "ExpiryDate" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Trạng thái
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Status"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Status" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Status"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Status" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var voucher in Model.Vouchers)
                    {
                        <tr>
                            @* <td>@voucher.Id.ToString().Substring(0, 16)</td> *@
                            <td style="white-space: nowrap;">@voucher.Code</td>
                            <td style="white-space: nowrap;" class="text-end">
                                @if (voucher.DiscountPercent > 0)
                                {
                                    <span>@voucher.DiscountPercent %</span>
                                }
                                else
                                {
                                    <span class="text-muted">0</span>
                                }
                            </td>
                            <td style="white-space: nowrap;" class="text-end">
                                @if (voucher.DiscountAmount > 0)
                                {
                                    <span>@voucher.DiscountAmount.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) + " đ"</span>
                                }
                                else
                                {
                                    <span class="text-muted">0</span>
                                }
                            </td>
                            <td style="white-space: nowrap;">@voucher.CreatedAt?.ToString("dd/MM/yyyy")</td>
                            <td style="white-space: nowrap;">@voucher.ExpiryDate.ToString("dd/MM/yyyy")</td>
                            <td style="white-space: nowrap;">
                                @if (voucher.Status == "active")
                                {
                                    <span class="badge active-badge">
                                        <i class="bi bi-check-circle-fill me-1"></i> Hoạt động
                                    </span>
                                }
                                else if (voucher.Status == "inactive")
                                {
                                    <span class="badge inactive-badge" ">
                                        <i class="bi bi-pause-circle-fill me-1"></i> Không hoạt động
                                    </span>
                                }
                                else if (voucher.Status == "banned")
                                {
                                    <span class="badge">
                                        <i class="bi bi-slash-circle-fill me-1"></i> Bị khóa
                                    </span>
                                }
                                else
                                {
                                    <span class="badge">
                                        <i class="bi bi-question-circle-fill me-1"></i> @voucher.Status
                                    </span>
                                }
                            </td>
                            <td>
                                <form asp-controller="AdminVoucher" asp-action="Detail" method="get" style="display:inline;">
                                    <input type="hidden" name="id" value="@voucher.Id" />
                                    <button type="submit" class="btn btn-sm text-success" title="Chi tiết">
                                        <i class="fa-solid fa-eye fa-1-5x"></i>
                                    </button>
                                </form>
                                <form asp-controller="AdminVoucher" asp-action="Update" method="get" style="display:inline;">
                                    <input type="hidden" name="id" value="@voucher.Id" />
                                    <button type="submit" class="btn btn-sm text-primary" title="Chỉnh sửa">
                                        <i class="fa-solid fa-pen-to-square fa-1-5x"></i>
                                    </button>
                                </form>
                                <form asp-controller="AdminVoucher" asp-action="Delete" method="post" style="display:inline;"
                                      onsubmit="return confirm('Bạn có chắc chắn muốn xoá thẻ này không?');">
                                    <input type="hidden" name="id" value="@voucher.Id" />
                                    <button type="submit" class="btn btn-sm text-danger delete-tag" data-id="@voucher.Id" title="Xoá">
                                        <i class="fa-solid fa-trash fa-1-5x"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination-box">
    <nav>
        <ul class="pagination justify-content-center">

            <!-- Previous button -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Page numbers -->
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }

            <!-- Next button -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>

@section Scripts {
    <script>
        // Hàm toast đơn giản
                    function showToast(type, message) {
            let toastId = 'toast-' + type;
            let existing = $('#' + toastId);

            if (existing.length) existing.remove();

            let toast = `
                <div id="${toastId}" class="toast show text-white ${toastId}"
                     style="position: fixed; top: 20px; right: 20px; z-index: 9999">
                    ${message}
                </div>`;
            $('body').append(toast);

            setTimeout(function () {
                $('#' + toastId).remove();
            }, 2000); // ✅ thời gian hiển thị: 2.5 giây
        }

        });
    </script>
}