@model FurnitureProject.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Sản phẩm";
}
@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    string keyword = ViewBag.Keyword as string;
    int totalPages = (int)Math.Ceiling((double)ViewBag.TotalProducts / ViewBag.PageSize);
    int currentPage = ViewBag.CurrentPage;
}
@{
    int maxPagesToShow = 8;
    int startPage = Math.Max(1, currentPage - maxPagesToShow / 2);
    int endPage = Math.Min(totalPages, startPage + maxPagesToShow - 1);
    if (endPage - startPage + 1 < maxPagesToShow)
    {
        startPage = Math.Max(1, endPage - maxPagesToShow + 1);
    }
}

<div class="title-box">
    <div class="text-box">
        <span class="title ms-2">Danh sách sản phẩm</span>
    </div>
    <div>
        <a asp-area="" asp-controller="AdminProduct" asp-action="Create" class="link-custom btn-custom bg-conflowerblue">Thêm sản phẩm</a>
    </div>
</div>
<div class="table-responsive title-box">
    <div class="container">
        <form method="get" asp-controller="AdminProduct" asp-action="Index" class="link-custom">
            <div class="row mb-3 d-flex flex-wrap gap-4">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" asp-for="Filter.SearchKeyWord" name="Filter.SearchKeyWord" value="@Model.Filter?.SearchKeyWord" class="form-control form-control-sm" placeholder="Nhập từ khóa...">
                        <button type="submit" class="btn btn-sm btn-custom bg-conflowerblue">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
                <!-- Filter by Category -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterCategoryId" name="Filter.FilterCategoryId" class="form-select" asp-items="@ViewBag.Categories">
                        <option value="">Chọn danh mục</option>
                    </select>
                </div>
                <!-- Filter by Status -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterByStatus" name="Filter.FilterByStatus" class="form-select" asp-items="@ViewBag.StatusList">
                        <option value="">Trạng thái</option>
                    </select>
                </div>
                <!-- Filter by Tag -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterTagId" name="Filter.FilterTagId" class="form-select" asp-items="@ViewBag.Tags">
                        <option value="">Chọn nhãn</option>
                    </select>
                </div>
                <!-- Optional: Nút Reset -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <a href="/admin/product/" class="btn btn-secondary w-100">Xoá lọc</a>
                </div>
            </div>
        </form>
        <div class="row mb-3">
            <table class="table table-hover align-middle">
                <thead class="table-background">
                    <tr>
                        @* <th scope="col">ID</th> *@
                        <th class="col with-separator">Hình ảnh</th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Tên
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Name"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Name" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Name"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Name" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">Nhãn</th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Giá
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Price"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Price" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Price"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Price" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>

                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Tồn kho
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Stock"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Stock" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Stock"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Stock" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Danh mục
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CategoryName"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "CategoryName" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CategoryName"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "CategoryName" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">
                            <div class="d-flex align-items-center sort-wrapper">
                                Ngày tạo
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th class="col with-separator">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            @* <td>@product.Id.ToString().Substring(0, 16)</td> *@
                            <td>
                                <img src="@(product.ImageUrls != null && product.ImageUrls.Count > 0
                                                                                  ? product.ImageUrls[0]
                                                                                  : Url.Content("~/images/No_Image_Available.jpg"))"
                                 alt="Product image"
                                 style="width: 120px; height: 90px; border-radius:5px;" />
                        </td>
                        <td>@product.Name</td>
                        <td>
                            @foreach (var tagId in product.TagIds)
                                {
                                    <span class="badge bg-primary me-1">
                                        @(ViewBag.TagMap[tagId])
                                    </span>
                                }
                        </td>
                        <td>
                            @if (product.DiscountPrice != null && product.DiscountPrice > 0)
                            {
                                <span class="text-danger fw-bold">@product.DiscountPrice.ToString("N0") ₫</span><br />
                                <span class="text-muted text-decoration-line-through">@product.Price.ToString("N0") ₫</span>
                            }
                            else
                            {
                                <span>@product.Price.ToString("N0") ₫</span>
                            }
                        </td>
                        <td>@product.Stock</td>
                        <td>@product.Category.Name</td>
                        <td>@product.CreatedAt?.ToString("dd/MM/yyyy")</td>
                        <td>
                            <form asp-controller="AdminProduct" asp-action="Update" method="get" style="display:inline;">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-sm btn-primary" title="Chỉnh sửa">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </form>
                                <form asp-controller="AdminProduct" asp-action="Delete" method="post" style="display:inline;"
                                      onsubmit="return confirm('Bạn có chắc chắn muốn xoá thẻ này không?');">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="btn btn-sm btn-danger delete-tag" data-id="@product.Id" title="Xoá">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination-box">
    <nav>
        <ul class="pagination justify-content-center">

            <!-- Previous button -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage - 1)"
                   asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                   asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                   asp-route-sortColumn="@Model.Filter.SortColumn"
                   asp-route-sortDirection="@Model.Filter.SortDirection"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Page numbers -->
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                       asp-route-sortColumn="@Model.Filter.SortColumn"
                       asp-route-sortDirection="@Model.Filter.SortDirection">
                        @i
                    </a>
                </li>
            }

            <!-- Next button -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage + 1)"
                   asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                   asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                   asp-route-sortColumn="@Model.Filter.SortColumn"
                   asp-route-sortDirection="@Model.Filter.SortDirection"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
@section Scripts {
    <script>
        // Hàm toast đơn giản
                    function showToast(type, message) {
            let toastId = 'toast-' + type;
            let existing = $('#' + toastId);

            if (existing.length) existing.remove();

            let toast = `
                <div id="${toastId}" class="toast show text-white ${toastId}"
                     style="position: fixed; top: 20px; right: 20px; z-index: 9999">
                    ${message}
                </div>`;
            $('body').append(toast);

            setTimeout(function () {
                $('#' + toastId).remove();
            }, 2000); // ✅ thời gian hiển thị: 2.5 giây
        }

        });
    </script>
}