@model FurnitureProject.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Người dùng";
}
@{
    ViewBag.Title = "Search User";
    string keyword = ViewBag.Keyword as string;
    int totalPages = (int)Math.Ceiling((double)ViewBag.TotalUsers / ViewBag.PageSize);
    int currentPage = ViewBag.CurrentPage;
}
@{
    int maxPagesToShow = 8;
    int startPage = Math.Max(1, currentPage - maxPagesToShow / 2);
    int endPage = Math.Min(totalPages, startPage + maxPagesToShow - 1);
    if (endPage - startPage + 1 < maxPagesToShow)
    {
        startPage = Math.Max(1, endPage - maxPagesToShow + 1);
    }
}


<div class="title-box">
    <div class="text-box">
        <span class="title ms-2">Danh sách người dùng</span>
    </div>
    <div>
        <a asp-area="" asp-controller="AdminUser" asp-action="Create" class="link-custom btn-custom bg-conflowerblue">Thêm người dùng</a>
    </div>
</div>
<div class="table-responsive title-box">
    <div class="container">
        <form method="get" asp-controller="AdminUser" asp-action="Index" class="link-custom">
            <div class="row mb-3 justify-content-around">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="search" value="@keyword" class="form-control" placeholder="Nhập từ khóa...">
                        <button type="submit" class="btn-custom bg-conflowerblue">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
                <!-- Filter by Status -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterByStatus" name="Filter.FilterByStatus" class="form-select" asp-items="@ViewBag.StatusList">
                        <option value="">Trạng thái</option>
                    </select>
                </div>
                <!-- Filter by Roles -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <select asp-for="Filter.FilterByRole" name="Filter.FilterByRole" class="form-select" asp-items="@ViewBag.RoleList">
                        <option value="">Vai trò</option>
                    </select>
                </div>
                <!-- Optional: Nút Reset -->
                <div class="col-md-1-5 d-flex align-items-center">
                    <a href="/admin/product/" class="btn btn-secondary w-100">Xoá lọc</a>
                </div>
            </div>
        </form>
        <div class="row mb-3">
            <table class="table table-hover align-middle">
                <thead class="table-background">
                    <tr>
                        @* <th>ID</th> *@
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Tên
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="FullName"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "FullName" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="FullName"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "FullName" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Email
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Email"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Email" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Email"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Email" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Tài khoản
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Username"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Username" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Username"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Username" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        @* <th>Mật khẩu</th> *@
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Vai trò
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Role"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Role" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Role"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Role" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Trạng thái
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Status"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "Status" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="Status"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "Status" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center justify-content-center sort-wrapper">
                                Ngày tạo
                                <div class="sort-arrows">
                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="asc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "asc" ? "active-arrow" : "")">▲</a>

                                    <a asp-action="Index"
                                       asp-route-searchKeyWord="@Model.Filter.SearchKeyWord"
                                       asp-route-filterByStatus="@Model.Filter.FilterByStatus"
                                       asp-route-SortColumn="CreatedAt"
                                       asp-route-SortDirection="desc"
                                       class="@(Model.Filter.SortColumn == "CreatedAt" && Model.Filter.SortDirection == "desc" ? "active-arrow" : "")">▼</a>
                                </div>
                            </div>
                        </th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            @* <td>@user.Id.ToString().Substring(0, 16)</td> *@
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>@user.Username</td>
                            @* <td>@user.password</td> *@
                            <td>@user.Role</td>
                            <td>@user.CreatedAt?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (user.Status == "active")
                                {
                                    <span class="badge active-badge">
                                        <i class="bi bi-check-circle-fill me-1"></i> Hoạt động
                                    </span>
                                }
                                else if (user.Status == "inactive")
                                {
                                    <span class="badge inactive-badge" ">
                                        <i class="bi bi-pause-circle-fill me-1"></i> Không hoạt động
                                    </span>
                                }
                                else if (user.Status == "banned")
                                {
                                    <span class="badge">
                                        <i class="bi bi-slash-circle-fill me-1"></i> Bị khóa
                                    </span>
                                }
                                else
                                {
                                    <span class="badge">
                                        <i class="bi bi-question-circle-fill me-1"></i> @user.Status
                                    </span>
                                }
                            </td>
                            <td>
                                <form asp-controller="AdminUser" asp-action="Update" method="get" style="display:inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-sm btn-primary" title="Chỉnh sửa">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </form>
                                <form asp-controller="AdminUser" asp-action="Delete" method="post" style="display:inline;"
                                      onsubmit="return confirm('Bạn có chắc chắn muốn xoá thẻ này không?');">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-sm btn-danger delete-tag" data-id="@user.Id" title="Xoá">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination-box">
    <nav>
        <ul class="pagination justify-content-center">

            <!-- Previous button -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Page numbers -->
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }

            <!-- Next button -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
@section Scripts {
    <script>
        // Hàm toast đơn giản
                    function showToast(type, message) {
            let toastId = 'toast-' + type;
            let existing = $('#' + toastId);

            if (existing.length) existing.remove();

            let toast = `
                <div id="${toastId}" class="toast show text-white ${toastId}"
                     style="position: fixed; top: 20px; right: 20px; z-index: 9999">
                    ${message}
                </div>`;
            $('body').append(toast);

            setTimeout(function () {
                $('#' + toastId).remove();
            }, 2000); // ✅ thời gian hiển thị: 2.5 giây
        }

        });
    </script>
}
